include comfy_kitchen/backends/hip/CMakeLists.txt
recursive-include comfy_kitchen/backends/hip *.cpp *.h *.hip *.in *.json
include comfy_kitchen/backends/tensor.h
include comfy_kitchen/backends/tensor_bindings.h
